Repository taiyeoguns/shiftmgr-django: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black

.lintstagedrc:

{
  "linters": {
    "*.{css,js,json}": ["prettier --write", "git add"],
    "*.py": ["black", "git add"]
  }
}

Modified get shifts with tests
  shifts/services.py
  shifts/tests/test_services.py
  shifts/views.py
Due: black

Modified models, seed with tests
  base/management/commands/seed.py
  base/migrations/0001_initial.py
  base/tests/test_commands.py
  readme.md
  shifts/migrations/0001_initial.py
  shifts/models.py
  shifts/tests/test_models.py
Due: black

Update Django to 2.2
  requirements.txt
Due: none

Implemented messages framework
  assets/js/scripts.js
  shiftmanager/settings.py
  templates/site/index.html
Due: prettier --write, black

Allow to create shifts
  assets/js/ext/jquery.validate.bootstrap.js
  assets/js/shifts/index.js
  gulpfile.js
  shifts/forms.py
  shifts/services.py
  shifts/templates/shifts/index.html
  shifts/templates/shifts/modals/create.html
  shifts/tests/test_services.py
  shifts/tests/test_views.py
  shifts/urls.py
  shifts/views.py
  templates/site/partials/sidebar.html
Due: prettier --write, black

Modify seed
  base/management/commands/seed.py
Due: black

Add uuid to shift model
  base/migrations/0001_initial.py
  shifts/migrations/0001_initial.py
  shifts/models.py
Due: black

Set up email
  .env.example
  requirements.txt
  shiftmanager/settings.py
  shiftmanager/urls.py
Due: black

Send email after creating shift
  shifts/notifications.py
  shifts/services.py
  shifts/templates/herald/html/shift_created.html
  shifts/templates/herald/text/shift_created.txt
  shifts/tests/test_services.py
  shifts/views.py
Due: black

Set up shift detail page
  shifts/models.py
  shifts/templates/shifts/detail.html
  shifts/templates/shifts/index.html
  shifts/urls.py
  shifts/views.py
Due: black

Adjust ignore for logs folder
  .gitignore
  logs/.gitignore
Due: none

Adjust to run gulp locally with yarn
  package.json
  readme.md
Due: prettier --write

Add groups and permissions to seeder
  .env.example
  base/management/commands/seed.py
Due: black

Assign role to user on registration
  base/forms.py
  base/tests/test_commands.py
  base/tests/test_views.py
  base/views.py
Due: black

Upgrade npm dependencies
  yarn.lock
Due: none

Adjust models
  base/migrations/0001_initial.py
  shifts/migrations/0001_initial.py
  shifts/models.py
  shifts/tests/test_models.py
Due: black

Set autofocus to username field on login page
  templates/registration/login.html
Due: none

Adjust seeder for tasks and production
  base/management/commands/seed.py
  base/tests/test_commands.py
Due: black

Set up shift details page
  assets/css/styles.css
  assets/js/scripts.js
  assets/js/shifts/detail.js
  gulpfile.js
  package.json
  shifts/services.py
  shifts/templates/shifts/detail.html
  shifts/templates/shifts/index.html
  shifts/tests/test_services.py
  shifts/views.py
  yarn.lock
Due: prettier --write, black

Update script for shift detail page
  assets/js/shifts/detail.js
Due: prettier --write

Modify service logic
  shifts/services.py
  shifts/views.py
Due: black

Update tests
  shifts/tests/test_services.py
  shifts/tests/test_views.py
Due: black

Update bootstrap version
  package.json
  yarn.lock
Due: prettier --write

Adjust colour scheme
  assets/less/shiftmgr.less
Due: none

Rename create shift modal page
  shifts/templates/shifts/index.html
  shifts/templates/shifts/modals/create_shift.html
Due: none

Implement 'Add Task' frontend
  assets/js/shifts/detail.js
  gulpfile.js
  package.json
  shifts/templates/shifts/detail.html
  shifts/templates/shifts/modals/add_task.html
  yarn.lock
Due: prettier --write

Implement 'Add Task' backend
  shifts/forms.py
  shifts/services.py
  shifts/tests/test_forms.py
  shifts/tests/test_services.py
  shifts/tests/test_views.py
  shifts/urls.py
  shifts/views.py
Due: black

Optimise queries
  shifts/services.py
  shifts/views.py
Due: black

Upgrade to Django 2.2.2
  requirements.txt
Due: none

Update pgsql library version
  requirements.txt
Due: none

Refactored by Sourcery
  base/management/commands/seed.py
  base/tests/test_forms.py
  shifts/tests/test_models.py
  shifts/tests/test_services.py
Due: black

Add docker
  .dockerignore
  .env.example
  Dockerfile
  docker-compose.yml
  nginx/Dockerfile
  nginx/nginx.conf
  readme.md
  requirements.txt
  shiftmanager/settings.py
Due: black
